@font-face {
  font-family: Proxima Nova;
  src: url(./sass/font/proximanova_light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./sass/font/proximanova_regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./sass/font/proximanova_bold.otf);
  font-weight: 700;
}
