.footer {
  font-size: 17px;
  line-height: 1.41;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid $grey-color;

  .container {
    display: flex;
  }
}

.background-footer {
  background-color: $dark-color;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer__logo {
  display: block;
  width: 250px;
  height: 50px;
  margin-bottom: 40px;
}

.footer__join-help {
  font-size: 17px;
  line-height: 1.41;
  margin-bottom: 10px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer__social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}

.footer__social-item:not(:last-child) {
  margin-right: 15px;
}

.footer__pay-list {
  display: flex;
  align-items: center;
}

.footer__pay-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.footer__pay-link {
  svg {
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $grey-light-color;
  }

  &:hover,
  &:focus {
    svg {
      fill: $accent-color;
    }
  }
}

.footer__nav-block:not(:last-child) {
  margin-right: 83px;
  p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
  }
}

.footer__nav-item {
  a {
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer__contacts {
  width: 240px;
  font-size: 20px;
  line-height: 1.4;
}

.footer__contact-box {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  svg {
    margin-right: 15px;
  }
}

.footer__tel-list {
  margin-bottom: 15px;
}

.footer__tel-text {
  a {
    &:hover,
    &:focus {
      transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
      color: $accent-color;
    }
  }

  :not(:last-child) {
    margin-bottom: 10px;
  }
}

.call-me-btn {
  border: none;
  background-color: transparent;
  color: $accent-color;
}

.footer__copyright {
  margin-top: 20px;
  color: $grey-light-color;
  text-align: center;
  font-size: 15px;
  line-height: 1.47;
}
