.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(27, 26, 26, 0.8);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-width: 315px;
  min-height: 616px;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.header-modal__product-list {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: inline-block;
    width: 5px;
    height: 100%;
    background-color: $accent-color;
  }
}

.header-modal__product-item {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 30px;
  padding-right: 15px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  & svg {
    margin-right: 15px;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.header-modal__vector-icon {
  fill: $accent-color;
  margin-left: auto;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-modal__product-item:hover & {
    fill: $dark-color;
  }
}

.header-modal__sub-menu {
  font-size: 19px;
  font-weight: 400;
  line-height: 2.1;
  position: absolute;
  left: 98%;
  top: -8px;
  width: 100%;
  height: 102%;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  opacity: 0;
  pointer-events: none;
  padding: 20px;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  .header-modal__product-item:hover & {
    opacity: 1;
    pointer-events: all;
  }

  & li:not(:last-child) {
    margin-bottom: 20px;
  }

  li {
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  li:hover {
    color: $accent-color;
  }
}
