.main-header {
  padding-top: 25px;
  padding-bottom: 25px;

  .container {
    display: flex;
    align-items: center;
  }
}

.main-header__logo {
  margin-right: 34px;
}

.main-header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 19px;
  font-weight: 700;
  min-width: 145px;
}

.main-header__btn-icon {
  margin-right: 10px;
}

.main-header__label {
  margin-right: 30px;
  flex-grow: 1;
  max-width: 421px;
}

.main-header__input {
  height: 50px;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid $grey-light-color;
  border-radius: 8px;
}

.main-header__input::placeholder {
  color: $grey-light-color;
  line-height: 1.88;
}

.main-header__tel {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-header__tel:hover,
.main-header__tel:focus {
  color: $accent-color;
}

.main-header__tel-icon {
  margin-right: 10px;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-header__tel:hover .main-header__tel-icon,
.main-header__tel:focus .main-header__tel-icon {
  fill: $accent-color;
}

.main-header__add-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.main-header__add-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-header__add-link:hover,
.main-header__add-link:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-header__add-icon {
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-header__add-link:hover .main-header__add-icon,
.main-header__add-link:focus .main-header__add-icon {
  fill: $accent-color;
}

.main-header__add-item:not(:last-child) {
  margin-right: 20px;
}

.header__tel-list {
  position: relative;
}

.header__tel-select {
  display: flex;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 270px;
  min-height: 204px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  padding: 20px;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);

  & button {
    font-size: 19px;
    font-weight: 700;
  }

  .header__tel-list:hover &,
  .header__tel-list:focus & {
    opacity: 1;
    pointer-events: all;
  }
}

.tel-select__title {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  color: $grey-color;
}

.tel-select__item:not(:last-child) {
  margin-bottom: 15px;
}

.tel-select__list {
  margin-bottom: 10px;
}
