.popular-category {
  @extend %bg-color;
  padding-bottom: 70px;
}

.popular-category__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}

.popular-category__list {
  display: flex;
  flex-wrap: wrap;
}

.popular-category__item {
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.3);
  }
}

.popular-category__item:not(:nth-child(5n)) {
  margin-right: 10px;
}

.popular-category__item:nth-child(-n + 5) {
  margin-bottom: 24px;
}

.card-title__quantity {
  display: inline-block;
  margin-left: auto;
}

.popular-category__card-title {
  font-size: 20px;
  line-height: 1.4;

  span {
    color: $grey-light-color;
  }
}
