.custom-select {
  position: relative;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.26;
  min-width: 50px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 6px;
  right: 7px;
  width: 8px;
  height: 12px;
  background-image: url(../../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(90deg);
  z-index: 3;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: $grey-color;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $accent-color;
  }
}

/* Style items (options): */
.select-items {
  position: absolute;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  padding: 10px 5px;
  top: -10px;
  left: -5px;
  right: 0;
  z-index: 2;

  & div:not(:last-child) {
    margin-bottom: 10px;
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.pre-header__common {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pre-header {
  color: $grey-color;
  background-color: $light-color;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.88;
}

.pre-header__menu {
  display: flex;
}
.pre-header__menu-link {
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pre-header__menu-link:hover,
.pre-header__menu-link:focus {
  color: $accent-color;
}

.pre-header__menu-item:not(:last-child) {
  margin-right: 30px;
}

.pre-header__social {
  display: flex;
  align-items: center;
}

.pre-header__help-link {
  margin-right: 20px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pre-header__help-link:hover,
.pre-header__help-link:focus {
  color: $accent-color;
}

.pre-header__messengers {
  display: flex;
  margin-right: 30px;
}

.pre-header__messengers-link {
  display: block;
  width: 30px;
  height: 30px;
}

.pre-header__messengers-link {
  border-radius: 50%;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pre-header__messengers-link:hover,
.pre-header__messengers-link:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pre-header__messengers-item:not(:last-child) {
  margin-right: 10px;
}
