.responses {
  background-color: #e3e2e2;
  padding-top: 70px;
  padding-bottom: 109px;
}

.responses__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.responses__section-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.responses__after-title {
  display: flex;
  align-items: center;
  margin-bottom: 72px;

  svg {
    margin-right: 30px;
  }
}

.responses__btn-list {
  display: flex;
  align-items: center;
}

.responses__btn {
  display: flex;
  align-items: center;
  color: $grey-color;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  padding: 8px 13px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    fill: $grey-color;
    margin-right: 15px;
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $accent-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    svg {
      fill: #ffffff;
    }
  }
}

.responses__btn-item:not(:last-child) {
  margin-right: 10px;
}

.responses__list {
  display: flex;
  align-items: center;
}

.responses__item {
  width: 415px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.responses__star-icon {
  display: flex;
  align-items: center;
}

.responses__title {
  margin-left: 20px;
  flex-grow: 1;
}

.responses__human {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.responses__box-rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.responses__rating {
  margin: 0;
  padding: 0;
  border: none;
}

.responses__caption {
  padding: 0;
  margin-bottom: 7px;
}

.rating__star {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
}

.rating__star:nth-of-type(1) {
  z-index: 5;
  width: 20px;
}

.rating__star:nth-of-type(2) {
  z-index: 4;
  width: 40px;
}

.rating__star:nth-of-type(3) {
  z-index: 3;
  width: 60px;
}

.rating__star:nth-of-type(4) {
  z-index: 2;
  width: 80px;
}

.rating__star:nth-of-type(5) {
  z-index: 1;
  width: 100px;
}

.rating__star:checked,
.rating__star:hover {
  background-image: url(../../images/star-on-icon.svg);
  background-size: 20px auto;
  background-repeat: repeat-x;
}

.rating__group {
  position: relative;
  width: 100px;
  height: 20px;
  background-image: url(../../images/star-disabled-icon.svg);
  background-size: 20px auto;
  background-repeat: repeat-x;
}

.responses__descr {
  font-size: 16px;
  line-height: 1.88;
  height: 150px;
  overflow: auto;
  padding-right: 10px;
  margin-bottom: 30px;
}

.responses__product-link {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
  }
}
